body, html{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 3px;
    transform-style: preserve-3d;
}

.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    transform: translateZ(-1px) scale(1.5);
    
}

.conteudo{
    justify-content: center;
    position: absolute;
    width: 95%;
    top: 30%;
    padding: 20px;
    background-color: #e1daca;
    color: #008584;
    box-shadow: 3px 3px 3px #2b1719;
}

.fundo1::before{
    background-image: url(IMG/cropped-1920-1080-990760.jpg);
}

.fundo2::before{
    background-image: url(IMG/cropped-1920-1200-468739.jpg);
}
